body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#video-bar-container {
    position: relative;
    height: 10px;
    background-color: #ddd;
}

.video-bar {
    position: relative;
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
    margin-bottom: 24px;
}

.video-bar-selection {
    position: absolute;
    height: 100%;
    background-color: rgba(76, 175, 80, 0.5);
}

.video-bar-selection-start,
.video-bar-selection-end {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #4caf50;
    top: -7px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    z-index: 10;
}

.video-bar-selection-start::before {
    content: 'S';
}

.video-bar-selection-end::before {
    content: 'E';
}

